<div class="center paragraphe_crédit">
    <h1>Crédits</h1>
    <h2>Création Graphique : BIJ Orne.</h2>
    <p>
        Crédits images : Fotolia - Freepik - Pic Monjey - CloneZone - Design Crowd - H & M - Téfal - Word Press Photo - Le Museion - Les Lascars - Welections - NRA - Youtube - Facebook.
    </p>
    <p>
        Avertissement - Le Vrai du Faux est un outil d’Éducation aux Médias et à l’Information édité par l’Union Nationale de l’Information Jeunesse (UNIJ) selon une démarche initiée et coordonnée par le BIJ de l’Orne. Il est un support d’animation et de
        prévention et ne peut en aucun cas être considéré comme un magazine d’information.
    </p>
    <p>
        Crédits auteurs : Le Gorafi - Le Tigre - Le Parisien - 20 Minutes - Presse Océan - Sud-Ouest - La Provence - L’Express - Ouest France - France TV Info - Le Huffington Post - RTL - Europe 1 - BFM TV - L’Equipe - Eurosport - La Dépêche - Métronews -
        Olympique.org - Liminaire.fr - IFOP - Qapa.
    </p>
</div>

<div class="row center">
    <h2>Les développeurs</h2>
    <div class="col s4">
        <div class="center test">
            <img class="responsive-img circle photoSize" src="assets/img/camilleFontaine.jpg">
            <h2>
                Camille Fontaine
            </h5>
            <a href="https://github.com/CamJr" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/camfontaine/" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/linkedin.png"></a>
        </div>
    </div>

    <div class="col s4">
        <div class="center test">
            <img class="responsive-img circle photoSize" src="assets/img/gaelleMorin.jpg">
            <h2>
                Gaëlle Morin
            </h2>
            <a href="https://github.com/Daedalus418" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/gaelle-morin/" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/linkedin.png"></a>
        </div>
    </div>

    <div class="col s4">
        <div class="center test">
          <img class="responsive-img circle photoSize" src="assets/img/stephaneSenocq.jpg">
            <h2>
                Stephane Senocq
            </h2>
            <a href="https://github.com/stephsen" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/stephane-senocq-412bb9130/" target="_blank"><img class="responsive-img circle zoomLogo" src="assets/img/linkedin.png"></a>
        </div>
    </div>

</div>
