<div class="main_footer navbar-fixed">
<nav>
    <div class="nav-wrapper whiteBackground ">

      <ul class="main_footer_link left">
          <li>
            <a href="http://www.unij.fr/" target="_blank"><img class="responsive-img social_footer" src="assets/img/unij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.infojeune41.org/" target="_blank"><img class="responsive-img social_footer" src="assets/img/bij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.interieur.gouv.fr/SG-CIPDR/CIPDR" target="_blank"><img class="responsive-img social_footer" src="assets/img/cipdr.png"/></a>
          </li>
          <li>
            <a href="http://wildcodeschool.fr" target="_blank"><img class="responsive-img social_footer" src="assets/img/wcs.png"/></a>
          </li>
      </ul>

        <ul class="main_footer_link right">
            <li>
                <a href="#/mention" class="main_footer_link blueFont">Mentions légales</a>
            </li>
            <li>
                <a href="#/credit" class="main_footer_link blueFont">Crédits</a>
            </li>
        </ul>
    </div>
</nav>
</div>
