<!-- <nav class="navbar navbar-inverse navbar-yellow" role="navigation" ng-controller='navbarController as vm'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="assets/img/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" ng-show='vm.isLogged'>
                    <a href="#/"><span class="glyphicon glyphicon-book"></span>&nbsp;Todos</a>
                </li>
                <li class='disabled' ng-show='vm.sessionFactory.user.isAdmin'>
                    <a href="#/"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Admin</a>
                </li>
                <li class='disabled' ng-show='vm.isLogged'>
                    <a href="#/"><span class="glyphicon glyphicon-user"></span>&nbsp;My account</a>
                </li>
                <li ng-show='vm.isLogged'>
                    <a href="" ng-click='vm.logout()'><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out</a>
                </li>
                <li class='active' ng-hide='vm.isLogged'>
                    <a href="#/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div>
<h1 class="center white-text">Liste des utilisateurs</h1>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">&#xE8B6;</i>
                <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Recherche">
                <!-- <input type="password" class="form-control" id="password" placeholder="Reherche " ng-model='vm.password' ng-required='true'> -->
            </div>
        </div>
    </form>
    <!-- <div class="center">
         <a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">&#xE8B6;</i>Rechercher</a>
       </div> -->


         <ul class="collection blueForm">
           <li class="collection-item avatar blueForm">
               <div class="col s2 offset-s1 textuel white-text"><span class="title">Prénom</span></div>
               <div class="col s2 textuel white-text">Nom</div>
               <div class="col s2 textuel white-text">BIJ</div>
               <div class="col s2 textuel white-text">Email</div>
             </li>
         </ul>

    <ul class="collection">
        <li ng-repeat="user in vm.users | filter:vm.searchText" class="collection-item avatar">
            <div id="modal-{{$index}}" class="modal blue-text">
                <div class="modal-content">
                    <h4 class="center">Êtes-vous sûr(e) de vouloir supprimer ce compte ?</h4>
                    <div class="center">
                          <a class="modal-close waves-effect waves-light btn white red-text">
                          <i class="material-icons left">&#xE5CD;</i>Non</a>
                          <button ng-click="vm.delete(user)" class="waves-effect waves-light btn white green-text modal-close">
                          <i class="material-icons left">&#xE5CA;</i>Oui</button>
                    </div>
                </div>
            </div>
            <div class="col s1">
                <i class="material-icons prefix textuel">&#xE8B6;</i>
            </div>
            <div class="col s2 textuel">
                <span class="title">{{user.first_name}}</span>
            </div>
            <div class="col s2 textuel">{{user.last_name}}</div>
            <div class="col s2 textuel">{{user.bij}}</div>
            <div class="col s2 textuel">{{user.email}}</div>
            <div class="col s2">
                <a href='/#/utilisateur/{{user._id}}' class="btn-floating btn-large waves-effect waves-light grey right">
                    <i class="material-icons">&#xE8B8;</i>
                </a>
            </div>
            <div class="col s1">
                <a data-target="modal-{{$index}}" class="btn-floating btn-large waves-effect waves-light red accent-4 right">
                    <i class="material-icons">&#xE872;</i>
                </a>
            </div>
        </li>

        <!-- Modal Structure -->

    </ul>
</div>
