<div class="row">
    <div class='center white-text'>
        <h1>Connectez-vous</h1>
    </div>
    <form class="col s12">
        <div class="input-field col s12">
            <input type="email" class="form-control" id="email" ng-model='vm.email' ng-required='true'>
            <label class="active" for="email" class="col-sm-2 control-label">Email</label>
        </div>
        <div class="input-field col s12">
            <input type="password" class="form-control" id="password" ng-model='vm.password' ng-required='true'>
            <label class="active" for="password" class="col-sm-2 control-label">Mot de passe</label>
        </div>
        <div>
            <p>Mot de passe oublié ? Contactez votre administrateur.</p>
        </div>
        <div class="input-field col s10">
            <button ng-click='vm.login()' ng-disabled="formConnect.$invalid" class="btn btn-primary pull-right">Connexion</button>
        </div>
    </form>
    <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
        <h4>
            <span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
        <p>{{vm.loginMessage.message}}</p>
    </div>
</div>
