<!-- <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Create a new todo</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Todo" ng-model='vm.todo'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
        </form>
        <h2 ng-show='vm.todos.length>0'>My todos</h2>
        <div class="panel panel-default" ng-repeat='todo in vm.todos | orderBy: "description"'>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Todo" ng-model='todo.description'>
                    </div>
                    <button ng-click='vm.update(todo)' class="btn btn-default">Edit</button>
                    <button ng-click='vm.delete(todo)' class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="main-text">
    <div class="center-align">
        <p class="navbar_paragraphe">
          Bienvenue sur le module de correction du Vrai du Faux, l’outil d’Education aux Médias et àl’Information (EMI) du réseau Information Jeunesse. Il vous permettra d’assurer une animation interactive adaptée à votre public selon des parcours prédéfinis ou en créant votre propre parcours.
        </p>
        <div class="center-align main_center">
              <div class="row">
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/windows.png"></div>
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/apple.png"></div>
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/linux.png"></div>
              </div>

              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux Pour Windows</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux Pour Apple</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux Pour Linux</a></div>
              </div>
              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Téléchager 64-bit</a></div>
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Téléchager</a></div>
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Téléchager AppImage 64-bit</a></div>
              </div>
              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Téléchager 32-bit</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Zip</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Téléchager AppImage 32-bit</a></div>
              </div>
        </div>
    </div>
</div>
