<div class="main-text">
    <div class="center-align">
        <p class="navbar_paragraphe">
          Bienvenue sur le module de correction du Vrai du Faux, l’outil d’Education aux Médias et à l’Information (EMI) du réseau Information Jeunesse. Il vous permettra d’assurer une animation interactive adaptée à votre public selon des parcours prédéfinis ou en créant votre propre parcours.
        </p>
        <div class="center-align main_center">
              <div class="row">
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/windows.png"></div>
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/apple.png"></div>
                <div class="col s4"><img class="main_lvdf_logo" src="assets/img/linux.png"></div>
              </div>
              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux pour Windows</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux pour Apple</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text">Le Vrai du Faux pour Linux</a></div>
              </div>
              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Télécharger 64-bit</a></div>
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Télécharger</a></div>
                <div class="col s4"><a class="waves-effect waves-light btn white blue-text"><i class="material-icons left">file_download</i>Télécharger AppImage 64-bit</a></div>
              </div>
              <div class="row">
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Télécharger 32-bit</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Zip</a></div>
                <div class="col s4"><a class="waves-effect waves-light white-text"><i class="material-icons left">file_download</i>Télécharger AppImage 32-bit</a></div>
              </div>
        </div>
    </div>
</div>
