<div class="center navbar_paragraphe mentionlegal">
  <h1>Mentions légales</h1>
  <h4>Création - Contact</h4>
  <p>
    Le Vrai du Faux est une création du groupe Numérique de l’Union Nationale de l’Information Jeunesse (www.unij.fr).
    En cas de questions ou de remarques sur
    l’animation, vous pouvez contacter le Bureau Information Jeunesse de l’Orne (Tél. 02 3380 48 90 – contact@bij-orne.com).
  </p>
  <p>
    Avertissement - Le Vrai du Faux est un outil d’Éducation aux Médias et à l’Information édité par l’Union Nationale de l’Information Jeunesse (UNIJ)
    selon une démarche initiée et coordonnée par le BIJ de l’Orne. Il est un support d’animation et de prévention et ne peut en aucun cas être considéré
    comme un magazine d’information.
  </p>
  <p>
    Toute reproduction, représentation, traduction ou adaptation qu’elle soit intégrale ou partielle, quels qu’en soit le procédé,
    le support ou le média est strictement interdite sans l’autorisation explicite de l’éditeur
    sauf dans les cas prévus par l’article L.122-5 du code de la propriété intellectuelle.
  </p>
</div>
