<div class="center navbar_paragraphe mentionlegal">
  <h1>Mentions légales</h1>
  <h4>Création - Contact</h4>
  <p>
    Le Vrai du Faux est une création du groupe Numérique de l’Union Nationale de l’Information Jeunesse (www.unij.fr - contact@unij.fr).
    En cas de questions ou de remarques sur
    l’animation, vous pouvez contacter le Bureau Information Jeunesse de l’Orne (Tél. 02 3380 48 90 – contact@bij-orne.com).
  </p>
  <p>
    Avertissement - Le Vrai du Faux est un outil d’Éducation aux Médias et à l’Information édité par l’Union Nationale de l’Information Jeunesse (UNIJ)
    selon une démarche initiée et coordonnée par le BIJ de l’Orne. Il est un support d’animation et de prévention et ne peut en aucun cas être considéré
    comme un magazine d’information.
  </p>
  <p>
    Toute reproduction, représentation, traduction ou adaptation qu’elle soit intégrale ou partielle, quels qu’en soit le procédé,
    le support ou le média est strictement interdite sans l’autorisation explicite de l’éditeur
    sauf dans les cas prévus par l’article L.122-5 du code de la propriété intellectuelle.
  </p>
  <h4>Protection des données</h4>
  <p>
    La loi “Informatique et Libertés” du 6 janvier 1978 modifiée par la loi du 6 août 2004 encadre la mise en œuvre des
    fichiers ou des traitements de données à caractère personnel qu’ils soient automatisés ou manuels.
  </p>
  <p>
    Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent
    (art. 34 de la loi “Informatique et Libertés”). Vous pouvez l’exercer par courrier en écrivant à cette adresse :
    UNIJ – 101 quai Branly – 75015 Paris
  </p>
  <p>
    Le présent site web collecte des données personnelles via des formulaires de saisie uniquement dans un but d’information et de
    communication. Conformément à la Délibération n°2006-138 du 9 mai 2006 il n’a pas fait l’objet d’une déclaration spécifique auprès de la CNIL.
  </p>
</div>
