html {
    color: white
}

body {
    background-color: rgb(45, 78, 130);
    font-style: Roboto;

}
.BlueBackground {
    background-color: rgb(45, 78, 130);
}

.whiteFont {
    color: rgb(255, 255, 255);
}

.blueFont {
    color: rgb(45, 78, 130);
}

.whiteBackground {
    background-color: rgb(255, 255, 255);
}

input {
    color: white!important;
    border-bottom: 1px solid white!important;
}

.input-field label {
    color: white!important;
}


/* NAVBAR*/

.right, .right li, .right li a, .right li a i {
    height: 6vh;
    line-height: 6vh;
}

.right a {
    font-size: 1rem;
}

.navbar_link {
    color: #2a477c;
}

nav ul a {
    color: #2a477c;
}

nav {
    height: 6vh;
}

nav img {
    width: 100%;
}

.navbar_logo {
    height: 100%;
    max-height: 65px;
    width: auto;
    height: 100%;
}

.navbar_paragraphe {
    color: white;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 5%;
}

.main_next_logo {
    font-size: 5em;
}

.blue-text {
    color: #2a477c !important;
}

/*FOOTER*/

.social_footer {
    padding-top: 10px;
    width: 4vh;
}

.main_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
}

/*USER*/

.center {
  margin-top: 5% !important;
}

.utilisateur {
    margin-top: 10%;
}

label {
    color: white;
    opacity: 0.75;
}

.blueForm {
    background-color: #2a477c!important;
    border: 1px solid #2a477c;
}

.checkbox-indigo[type="checkbox"]+label:before {
    border: 2px solid white;
    background: transparent;
}

.checkbox-indigo[type="checkbox"]:checked+label:before {
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background: transparent;
}

.checkbox-indigo.filled-in[type="checkbox"]+label:after {
    border: 2px solid white;
    background: transparent;
}

.checkbox-indigo.filled-in[type="checkbox"]:checked+label:after {
    background: white;
}

.checkbox-indigo.filled-in[type="checkbox"]:checked+label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


/*LISTE*/

.collection-item.avatar {
    font-size: 1em
}

.textuel {
    margin-top: 2%;
    color: #2a477c;
}

.material-icons.prefix.textuel {
    font-size: 3em;
    margin-top: 7%;
}


/*RESPONSIVE*/

@media screen and (min-height: 993px) {
    /* Main*/
    .main-text {
        margin-top: 15%;
    }
    .navbar_paragraphe {
      font-size: 2rem;
    }
}

@media screen and (max-height: 992px) {
    /* Main*/
    .main-text {
        margin-top: 7%;
    }
    .navbar_paragraphe {
      font-size: 1.3rem;
    }
}
